.page {
  font-family: var(--font-primary);
  font-weight: 600;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: var(--color-text);
  background-color: var(--color-primary);
  padding: 40px 0;
}

.header__links-list {
  display: flex;
  align-items: center;
  padding: 0 6px;
  gap: 22px;
  width: max-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(3.9px);
}

.header__links-list-item {
  padding: 6px 0;
}

.header__link {
  padding: 1px 12px;
  font-size: 23px;
  font-weight: 300;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__link:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.15);
}

.header__link_active,
.header__link.header__link_active:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--color-text);
}

.header__link:focus-visible {
  outline: 2px solid var(--color-white);
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.hero__main {
  z-index: 1;
}

.hero__title {
  color: var(--color-text);
  font-size: 86px;
  font-weight: 600;
  line-height: var(--lh-120);
  margin-top: 10.5vh;
  margin-bottom: 5.3vh;
}

.hero__description {
  color: var(--color-text);
  font-size: 23px;
  font-weight: 300;
  line-height: var(--lh-120);
  max-width: 372px;
  margin-bottom: 5.3vh;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px;
  background-color: transparent;
  border: 0.5px solid var(--color-text);
  border-radius: 20px;
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 13.5vh;
}

.hero__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 0.5px solid var(--color-text);
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.hero__icon {
  width: 12px;
  height: 12px;
}

.hero__btn:hover {
  border: 0.5px solid var(--color-btn-hover);
  background-color: var(--color-btn-hover);
}

.hero__btn:hover .hero__icon-wrapper {
  border: 0.5px solid var(--color-btn-icon-hover);
  background-color: var(--color-btn-icon-hover);
}

.hero__btn:focus-visible {
  outline: 2px solid var(--color-white);
}

.hero__submain {
  display: flex;
  align-items: center;
  max-width: 729px;
  padding: 18px 0;
  background-color: #eae0d6;
  z-index: 1;
}

.hero__subtext {
  font-size: 23px;
  font-weight: 300;
  color: var(--color-bg);
  line-height: var(--lh-120);
}

.hero__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc((100vw - 1440px) / 2);
}