.page {
  font-family: var(--font-primary);
  font-weight: 600;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.header__menu {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background-color: var(--color-primary);
  padding: 40px 0;
}

.header__links-list {
  display: flex;
  align-items: center;
  padding: 0 6px;
  gap: 22px;
  width: max-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
}

.header__links-list-item {
  padding: 6px 0;
}

.header__link {
  padding: 1px 12px;
  font-size: 1.438rem;
  font-weight: 300;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__link:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.15);
}

.header__link_active,
.header__link.header__link_active:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.25);
  color: var(--color-text);
}

.header__link:focus-visible {
  outline: 2px solid var(--color-white);
}

.hero {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.hero__content {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.hero__main {
  z-index: 1;
}

.hero__title {
  color: var(--color-text);
  font-size: 5.375rem;
  font-weight: 600;
  line-height: var(--lh-120);
  margin-top: 6.813rem;
  margin-bottom: 3.438rem;
}

.hero__description {
  color: var(--color-text);
  font-size: 1.438rem;
  font-weight: 300;
  line-height: var(--lh-120);
  max-width: 372px;
  margin-bottom: 3.438rem;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px;
  background-color: transparent;
  border: 0.5px solid var(--color-text);
  border-radius: 20px;
  color: var(--color-text);
  font-family: var(--font-secondary);
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: 0.5px solid var(--color-text);
  border-radius: 50%;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.hero__icon {
  width: 12px;
  height: 12px;
}

.hero__btn:hover {
  border: 0.5px solid var(--color-btn-hover);
  background-color: var(--color-btn-hover);
}

.hero__btn:hover .hero__icon-wrapper {
  border: 0.5px solid var(--color-btn-icon-hover);
  background-color: var(--color-btn-icon-hover);
}

.hero__btn:focus-visible {
  outline: 2px solid var(--color-white);
}

.hero__submain {
  width: 100%;
  background-color: #eae0d6;
  padding: 18px 0;
}

.hero__submain .container {
  display: flex;
  align-items: center;
}

.hero__subtext {
  max-width: 372px;
  font-size: 1.438rem;
  font-weight: 300;
  color: var(--color-bg);
  line-height: var(--lh-120);
}

.hero__image-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1446px;
  max-height: 858px;
  position: absolute;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.hero__image-container {
  position: relative;
  width: auto;
  height: 100%;
  aspect-ratio: 1446 / 858;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
}

.hotspot {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #3555be;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.dot1 {
  top: 36%;
  left: 30%;
}

.dot2 {
  top: 74%;
  left: 24%;
}
