@media (min-width: 1440px) {
  .container {
    max-width: clamp(1260px, 58.9vw + 412px, 1920px);
  }

  .hero__image-wrapper {
    left: calc(50% - ((100vw - 1440px) * 320 / 1120));
  }
}

@media (max-width: 1200px) {
  .contact .container {
    flex-direction: column;
  }
  
  .feature__slide {
    flex-direction: column;
  }

  .feature__image {
    height: 50dvh;
    width: 100vw;
  }
}

@media (min-height: 1081px) {
  .hero__content {
    flex: unset;
  }
  .hero {
    min-height: unset;
  }
}
